* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
   max-width:1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  background-color: #eee;
}

.step-box:last-child {
  margin-right: 0;
}

.step-img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}

.step-img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.step-img3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: center;
  background-size: cover;
  display: block;
}

.step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title {
  margin: 15px 0 5px;
}

footer {
  height: 50px;
  background-color: #aaa;
}
@media screen and (max-width: 768px){
.step-box{width:90%;      
    margin-bottom:20px;
    margin-left:50px
  }
main{
  display:block;
}
  header{
   width:1000px 
  }
  .step-img1{
    height: 150px;
    /* background-size: 100% 100%; */
    width: 100%;
        margin-top: 20px;
  }
  .step-img2{
    height: 150px;
    width:90%;
    /* background-size: 100% 100%; */
        margin-top: 20px;
  }
  .step-img3{
    height: 150px;
        margin-top: 20px;  
  }
}
